@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

body {
  background-color: #1e2225;
  display: block;
  font-family: 'Nunito', sans-serif;
}

body, html {
  height: 100%;
}

.square {
  width: 50%;
  padding: 30px;
  background-color: #454d55;
  margin: auto;
  border-radius: 10px;
  box-shadow: 10px 10px 0px #0000004b;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

h1 {
  color: #FFFFFF;
  margin: auto;
  padding-top: 2%;
  margin-bottom: 2%;
  text-align: center;
}

.btn-primary {
  background-color: #454d55;
}

.button1 {
  text-align: center;
  margin: 20px;
  margin-bottom: 0px;
}

.btn-primary {
  background-color: #08373e;
  border-color: #0000;
}

.kaka {
  margin: 10px;
}

.kaka2 {
  margin: auto;
  width: 100%;
}

h2 {
  font-size: 30px;
}

#creek {
  margin-bottom: 30px;
}

.dt {
  margin: 10px;
  display: flex;
  background: #454d55;
  /* background: #edb100; */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 0px #0000004b;
  color: #FFF;
}

.ta {
  margin: auto;
  margin-right: 10px;
  /* margin-left: 0; */
}

.dt1 {
  display: flex;
  margin: 10px;
}

.va {
  /* margin: auto; */
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 0;
  background: #454d55;
  /* background: #edb100; */
  padding: 10px;
  border-radius: 10px;
  box-shadow: 7px 7px 0px #0000004b;
}

h3 {
  color: #FFFFFF;
}

#knopka {
  background: #454d55;
  vertical-align: middle;
  font-size: 20px;
  margin-bottom: 1%;
  margin-left: 1%;
  width: 200px;
  height: 50px;
}

.title_css {
  color: #FFF;
}

.name {
  background-color: #343A40;
  border-radius: 10px;
  border: 1px solid #454d55;
  margin: 15%;
  margin-top: 1%;
  margin-bottom: 0;
}

.come_back {
  top: calc(100% - 50px);
  left: 0;
  cursor: pointer;
  position: absolute;
  font-size: 12pt;
}

.modal-content {
  color: #fff;
  background-color: #1e2225;
}

.modal-content1 {
  color: #fff;
  background-color: #1e2225;
}

.hide {
  display: none;
}

.return{
  margin-right: 10px;
  width: auto;
}

.glav{
  height: 50vh;
  overflow: auto;
  margin-top: 10px;
}
::-webkit-scrollbar {
    display: none;
}
