body {
  background-color: #1e2225;
  font-family: Courer New;
  /* font-size: 20px; */
}

.btn-secondary {
  width: 150px;
}

#okno {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: #3E444A;
  box-shadow: 10px 10px 0px #0000004b;
  border-radius: 10px;
}

.name {
  text-align: center;
  color: #FFF;
}

.kvadrat {
  background-color: #343A40;
  margin-top: 7px;
  padding: 5px;
  border-radius: 5px;
  color: #FFF;
  font-size: 15pt;
  border: 1px solid #454d55;
}

.name {
  font-size: 15pt;
  background-color: #343A40;
  border-radius: 10px;
  border: 1px solid #454d55;
  margin: 10%;
  margin-top: 3%;
  margin-bottom: 0;
}

.text {
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #FFF;
}

.scroll-table-body {
  height: 100%;
  overflow-x: auto;
  border-radius: 0 0 15px 15px;
}

.scroll-table table {
  width: 100%;
  /* table-layout: fixed; */
  border: none;
}

.scroll-table thead th {
  font-weight: bold;
  text-align: left;
  border: none;
  padding: 10px 15px;
}

.scroll-table tbody td {
  text-align: left;
  padding: 10px 15px;
  font-size: 14px;
  vertical-align: top;
}

.table {
  margin: 0;
}

.tittle_param {
  font-size: 30px;
}

.scroll::-webkit-scrollbar {
  width: 0;
}

.scroll {
  overflow: auto;
  height: 65vh;
  border-radius: 0 0 10px 5px;
}

.content_vm {
  margin: 20px;
}

.nav-link {
  color: #FFF;
  font-size: 15pt;
}

.kr {
  width: 10px;
}

.sm {
  display: flex;
  justify-content: space-between;
}

.sm span {
  margin-right: 10px;
}

#car {
  width: max-content;
}

.two_buttons {
  margin-left: auto;
  background-color: #212529;
}

.vkl {
  border-color: red;
}

.modal-content {
  background-color: #1e2225;
}

.color_fff {
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

.vkl2 {
  border-color: green;
}

.hide {
  display: none;
}

.btn-primary:hover {
  background-color: #454d55;
  border-color: #454d55;
}

.cursor {
  cursor: pointer;
  width: 10px;
}

.col {
  color: #fff;
}

.mouse_sneaking {
  color: #ffffff33;
  font-size: 42pt;
  text-align: center;
}

.kn {
  border-radius: 0%;
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  background-color: #454d55;
  border-color: #0000;
  color: #FFFFFF;
  width: 500px;
  height: 200px;
  font-size: 24pt;
  margin: 50px;
  box-shadow: 7px 7px 0px #0000004b;
  border-radius: 10px;
}

#carEmpty div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.vm{
  width: 650px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.arrow{
  top: calc(100% - 50px);
  left: 0;
  cursor: pointer;
  position: absolute;
  font-size: 12pt;
}
