@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400&display=swap');

.square {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  user-select: none;
  width: 400px;
  background-color: #454d55;
  border-radius: 10px;
  box-shadow: 7px 7px 0px #0000004b;
}

body {
  background-color: #1e2225;
  font-family: 'Nunito', sans-serif;
}

.form-group {
  margin-top: 20px;
  font-size: 20px;
}

.roditel {
  padding: 15px;
  display: grid;
}

.roditel button {
  background-color: #08373e;
  box-shadow: 7px 7px 0px #00000059;
}

.form-control {
  box-shadow: 7px 7px 0px #0000004b;
}

@font-face {
  font-family: Pompadur;
  /* Гарнитура шрифта */
  src: url(fonts/pompadur.ttf);
}

.btn-primary {
  border-color: #0000;
  font-size: 20px;
}

.btn-primary:hover {
  background-color: #08373e;
  border-color: #0000;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  transition: all 1.0s ease;
}

label {
  color: #FFF;
  font-size: 20px;
}
.cvet{
background-color: #808080;
color: #fff;
position: absolute;
bottom: 0px;
}
